:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-logo-color: #2196f3;
  --nav-bg-color: #ffffff;
  --first-bg-color: #e5e5e5;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

/* ------- Body site ------- */

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(26 / 14);
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: var(--nav-bg-color);
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

/* ------- Logo ------- */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-logo-color);
}

.logo-color {
  color: var(--second-text-color);
}

.logo-color-footer {
  color: var(--third-text-color);
  background-color: var(--third-bg-color);
}

/* ------- Header ------- */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--accent-logo-color);
}

/* ------- Hero ------- */

.hero {
  background-color: var(--third-bg-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.button-secondary {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-logo-color);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--third-text-color);
  background-color: #188ce8;
}

/* ------- Features ------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--second-text-color);
}

.features-list .features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--second-text-color);
}

.features-list .features-item {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--first-text-color);
}

/* ------- Jobs ------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--second-text-color);
}

/* ------- Our comand ------- */

.team-list .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--second-text-color);
}

.team-list .team-item {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--first-text-color);
}

/* ------- Footer ------- */

.footer {
  background-color: var(--third-bg-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-decoration: none;
}

.contact-address {
  color: var(--third-text-color);
}

.contact-item {
  color: var(--footer-address-color);
}

/* ------- PORTFOLIO ------- */

.button-primary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  background-color: var(--first-bg-color);
  color: var(--second-text-color);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-logo-color);
  color: var(--third-text-color);
}

.activity-list {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.activity-item {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--first-text-color);
}
